source-archive/auto-pro-reference/runtime/pyc/** filter=lfs diff=lfs merge=lfs -text
source-archive/auto-pro-reference/_internal/** filter=lfs diff=lfs merge=lfs -text
source-archive/auto-pro-reference/platform-tools/** filter=lfs diff=lfs merge=lfs -text
